.formcarry-container {
  box-sizing: border-box;
  margin: 40px auto 0 auto;
  padding: 0;
    font-family: Arial, sans-serif;    font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;

  width: 400px;

  /* NORMAL */
  --fc-border-color: #ffffff;
  --fc-normal-text-color: #ffffff;  
  --fc-normal-placeholder-color: #ffffff;
  
  /* HOVER */
  --fc-field-hover-bg-color: #1f1f1f;
  --fc-border-hover-color: #1f1f1f;
  --fc-field-hover-text-color: #ffffff;
}

#message {
  background-color: #565656; /* Set the background color */
  border-color: #1f1f1f; /* Set the border color */
  color: white;
  font-size: 20px;
}

#message::placeholder {
  color:#dddddd;
}

#phone::placeholder {
  color:#dddddd;
}

#email::placeholder {
  color:#dddddd;
}

#fullName::placeholder {
  color:#dddddd;
}

#message1 {
  margin-top: 10px;
}

#gender {
  background-color: #565656; /* Set the background color */
  border-color: #1f1f1f; /* Set the border color */
  color: #dddddd;
  padding: 8px;
  font-size: 20px;
}

#my-form-status {
  color: #cca2ff;
  font-size: 20px;
}

.formcarry-container * {
  box-sizing: border-box;
}

/*=============================================
=            Fields           =
=============================================*/

.formcarry-container input,
.formcarry-container textarea,
.formcarry-container select {
  width: 100%;
  height: 42px;
  padding: 8px 12px;
  font-family: "Inter", sans-serif;
  font-size:14px;
}

.formcarry-container textarea{
  min-height: 188px;
}

/* Set the caret color to white */
.formcarry-container input:focus,
.formcarry-container textarea:focus,
.formcarry-container select:focus {
  outline: none;
  caret-color: white; /* Set the caret color */
}

.formcarry-container button {
  font-size: 14px;
  height: 40px;
  width: 100%;
}

.required-label::after {
  content: " *";
  color: #cca2ff;
}

#buttons-container {
  display: flex;
  margin-top: 3px; /* Add spacing between buttons */
  margin-left: 11px;
}

#clear-button {
  background-color: red;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#my-form-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#clear-button:hover {
  background-color: darkred;
}

#my-form-button:hover {
  background-color: darkgreen;
}

.required-text {
  color: #cca2ff;
  font-weight: bold;
  font-size: 20px;
  margin-top: -5px;
}