/* Navbar Styles */
.navbar {
    width: 100%;
    padding: 0.5rem 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff; /* Change background color as needed */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Add shadow for depth */
    background-color: rgba(0, 0, 0, 0.2);
    text-indent: 10px;
    
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navbar Brand Styles */
.navbar-brand {
    padding: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    color: #ffffff; /* Change brand color as needed */
    text-decoration: none;
}

/* Navigation Link Styles */
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-item {
    margin-right: 0.5rem; /* Adjust spacing between items */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Change link color as needed */
    text-decoration: none;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }

    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.logo-navbar {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the logo and text horizontally */

}

.logo-navbar img {
    width: 50px; /* Adjust as per your logo size */
    height: auto;
    margin-right: 15px; /* Adjust spacing between logo and text */
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.navbar-nav .nav-link.active {
    color: #cca2ff; /* Change the color as needed */
}

.text-right {
    margin-top: -13px;
}
